/*seletor{
    propriedade: valor;
    } */
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
    }

    body{
        font-family: 'Open Sans', sans-serif;
        margin: 0;

    }

.banner{
    background: url(../img/banner-bg.png)center no-repeat;
    background-size:cover;
    height:90vh;
    text-align: center;
    padding-top: 16rem;
    color: white;
}
.banner_titulo{
    font-size: 3rem;
    margin: 0;
    
}
.banner_descricao{
    font-size: 1.5rem;
    margin: 1rem;
}

.botao{
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: uppercase;
    border-width: 0;
}

.botao-branco{
    background-color:white;
    color:#7E459B;
}

.botao-roxo{
    background-color:#7E459B;
    color: white;
}

.conteiner{
    padding: 2rem;

}
.sobre_titulo{
    text-align: center;
}
.sobre_descricao{
    width: 40%;
    display: inline-block;
}
.sobre_habilidades{
    width: 40%;
    display: inline-block;
}
.sobre_habilidades_titulo{
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

.sobre_habilidades_lista{
    text-align: center;
}

.footer{
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.redes-sociais_link{
    display: inline-block;
    background-color: #7E4598;
    width: 20%;
    padding: 2rem 0;
    margin: 0 1rem;
    color: white;
}